window {
    font-family: "Ubuntu";
    font-weight: bold;
    background-color: #002b36;
    color: #93a1a1;
}

#input {
    border: none;
    background-color: #002b36;
}

#outer-box {
    margin: 10px;
    background-color: #002b36;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
